@(questions: List[models.Question]) 

@import views.html.adminView._;
@import views.html.init._;
@import _root_.enums._;

<html>
<head>
@head()

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">
<script type="text/javascript" src="@routes.Assets.at("/javascripts/questionList.js")"></script>

</head>

@filter = {	
	@Messages("question.filter.type"):
	<select id="filterType">
	@for(filterType <- FilterType.values()){
		<option value="@filterType">@Messages(filterType.toString())</option>
	}
	</select> 
	@Messages("question.filter"):
	<input id="filter" type="text" maxlength="30"/>

}

@export = {
	<span class="export-panel">
		<span class="tooltip export-questions" title="@Messages("tooltip.question.export.detailed")">@Messages("question.export"):</span>
		<a class="tooltip export export-csv" href="@routes.QuestionController.export("csv")" title="@Messages("tooltip.export.csv.detailed")">@Messages("export.csv")</a>
		<a class="tooltip export export-xls" href="@routes.QuestionController.export("xls")" title="@Messages("tooltip.export.xls.detailed")">@Messages("export.xls")</a>
		<a class="export export-pdf" href="@routes.QuestionController.export("pdf")">@Messages("export.pdf")</a>
	</span>

}

<body>
	<header> @adminHeader() </header>
	<div class="questionlist-panel">
		<h2 class="questionslist-title">@Messages("questions")</h2>
		<p>
			@filter
			@export
		</p>
		<table id="question-table" class="cell-border" width="100%">
			<thead>
				<tr>
					<th>@Messages("question.text")</th>
					<th>@Messages("question.type")</th>
					<th>@Messages("question.subject")</th>
					<th>@Messages("question.chapter")</th>
					<th>@Messages("question.difficulty")</th>
					<th>@Messages("question.submitter")</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody class="dt-right">
				@for(q <- questions) {
				<tr id="question-@q.id">
					<td class="table-questionText">@q.questionText</td>
					<td class="table-questionType">@Messages(q.questionType.toString())</td>
					<td class="table-subject">@Messages(q.subject.toString())</td>
					<td class="table-chapters">@if(q.chapters != null && q.chapters.contains(";")) { @Messages("question.chapter.multiple") } else { @Messages(q.chapters) }</td>
					<td class="table-difficulty">@q.difficulty</td>
					<td class="table-submitter">@q.admin.username</td>
					<td><a class="tooltip table-icon" href="@routes.QuestionController.edit(q.id)" title="@Messages("tooltip.question.edit")">
						@if(q.admin.username.equals(session.get("credential"))) {
							<img src="@routes.Assets.at("images/edit-icon.png")"/>
						}
					</a></td>
					<td><a class="tooltip" href="#" title="@Messages("tooltip.question.explanation")"><img src="@routes.Assets.at("images/explanation-icon.png")"/></a></td>
					<td><a class="tooltip delete-button" href="@routes.QuestionController.deleteQuestion(q.id)" title="@Messages("tooltip.question.delete")"><img src="@routes.Assets.at("images/delete-icon.png")"/></a></td>
				</tr>
				}
			</tbody>

		</table>
	</div>

</body>
</html>