@(questions: List[models.Question]) 

@import views.html.adminView._;
@import views.html.init._;
@import _root_.enums._;
@import _root_.session._;

<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

@head()

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/admin/questionList.css")">
<script type="text/javascript" src="@routes.Assets.at("/javascripts/admin/questionList.js")"></script>

</head>

@filter = {	
	@Messages("question.filter.type"):
	<select id="filterType">
	@for(filterType <- FilterType.values()){
		<option value="@filterType">@Messages(filterType.toString())</option>
	}
	</select> 
	@Messages("question.filter"):
	<input id="filter" type="text" maxlength="30"/>

}

@export = {
	<span class="export-panel">
		<span class="tooltip-custom export-questions" title="@Messages("tooltip.question.export.detailed")">@Messages("question.export"):</span>
		<a class="tooltip-custom export export-csv" href="@routes.QuestionController.export("csv")" title="@Messages("tooltip.export.csv.detailed")">@Messages("export.csv")</a>
		<a class="tooltip-custom export export-xls" href="@routes.QuestionController.export("xls")" title="@Messages("tooltip.export.xls.detailed")">@Messages("export.xls")</a>
		<a class="export export-pdf" href="@routes.QuestionController.export("pdf")">@Messages("export.pdf")</a>
	</span>
}

<body>
	<header> 
		@adminHeader() 
	</header>
	
	<div class="questionlist-panel">
		<h2 class="questionslist-title">@Messages("questions")</h2>
		<p>
			@filter
			@export
			@alert()
		</p>
		<table id="question-table" class="display cell-border" width="100%">
			<thead>
				<tr>
					<th>@Messages("question.text")</th>
					<th>@Messages("question.type")</th>
					<th>@Messages("question.subject")</th>
					<th>@Messages("question.chapter")</th>
					<th>@Messages("question.difficulty")</th>
					<th>@Messages("question.submitter")</th>
					<th></th>
				</tr>
			</thead>

			<tbody class="dt-right">
				@for(q <- questions) {
				<tr id="question-@q.id">
					<td class="table-questionText">@q.questionText</td>
					<td class="table-questionType">@Messages(q.questionType.toString())</td>
					<td class="table-subject">@Messages(q.subject.name)</td>
					<td class="table-chapters">@if(q.chapters != null && q.chapters.contains(";")) { @Messages("question.chapter.multiple") } else { @Messages(q.chapters) }</td>
					<td class="table-difficulty">@q.difficulty</td>
					<td class="table-submitter">@q.author.username</td>
					
					<td>
					@if(q.author.username.equals(Session.getUsername())) {
						<a class="tooltip-custom btn btn-primary" href="@routes.QuestionController.edit(q.id)" title="@Messages("tooltip.question.edit")">@Messages("question.edit")</a>
						<!-- <a class="tooltip-custom btn btn-info" href="#" title="@Messages("tooltip.question.explanation")">@Messages("question.explanation")</a> -->
						<a class="tooltip-custom delete-button btn btn-danger" href="@routes.QuestionController.deleteQuestion(q.id)" title="@Messages("tooltip.question.delete")">@Messages("question.delete")</a>
					}
					</td>
				</tr>
				}
			</tbody>

		</table>
	</div>

</body>
</html>