@(form: Form[forms.QuestionForm]) 

@import views.html.adminView._;
@import enums._;

<html>
<head>
<title>LearnMore</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="@routes.Assets.at("/javascripts/admin.js")"></script>
</head>

@multipleChoiceForm = {
	<div class="multiple">
		<p>
		<label>@Messages("question.multiple.number")</label>
		<input type="number" id="multipleNumber" min="3" max="6" value="3"/>
		</p>
		
		<label>@Messages("question.correct"): </label><input type="text" id="correct" />
		<div class="multiple-incorrect">
			<p class="incorrect-1"><label>@Messages("question.incorrect"): </label><input type="text" id="incorrect-1" /></p>
			<p class="incorrect-2"><label>@Messages("question.incorrect"): </label><input type="text" id="incorrect-2" /></p>
		</div>
	</div>
}

<body>
	<header> @adminHeader() </header>

	<content>
	<div class="question container">
		@helper.form(routes.LoginController.authenticate) {
		<fieldset>
			<legend>@Messages("question.input")</legend>
			<p><label>@Messages("question.text")</label></p>
			<textarea rows="4" cols="50" /></textarea>
			
			<ul class="question">
				<li class="question qType">
					<p><label>@Messages("question.type")</label></p>
					<select id="qType"> 
					@for(qType <- QuestionType.values()){
						<option value="@qType">@Messages(qType.toString())</option> 
					}
					</select>
				</li>
				<li class="question grade">
					<p><label>@Messages("question.grade")</label></p>
					<select id="grade"> 
					@for(grade <- Grade.values()){
						<option value="@grade">@Messages(grade.toString())</option> 
					}
					</select>
				</li>
				<li class="question subject">
					<p><label>@Messages("question.subject")</label></p>
					<select id="subject"> 
					@for(subject <- Subject.values()){
						<option value="@subject">@Messages(subject.toString())</option> 
					}
					</select>
				</li>
			</ul>
			
			<ul class="question">
				<li class="subjectContent">
					<p><label>@Messages("question.content")</label></p>
					<input class="subjectContent-input" type="text" id="subjectContent" />
				</li>
				<li class="difficulty">
					<p><label>@Messages("question.difficulty")</label></p>
					<input class="difficulty-input" type="number" id="difficulty" min="1" max="5" value="1" maxlength="1" />
				</li>
			</ul>

			@multipleChoiceForm
		
		</fieldset>
		}
	</div>
	</content>
</body>

</html>