@(form: Form[forms.QuestionForm], subjects: List[models.enums.Subject]) 

@import views.html.adminView._;
@import views.html.init._;
@import enums._;
@import _root_.enums._;
@import _root_.constants._;

<html>
<head>

@head()
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/admin/questionInput.css")">
<script type="text/javascript" src="@routes.Assets.at("/javascripts/questionInput.js")"></script>

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">

</head>

@setChecked(formFieldName: String, compareValue: Object) = {
	 @if(form(formFieldName).value != null && form(formFieldName).value == compareValue.toString()) {checked}
} 

@numberOfAnswers = {
	<p class="numberOfAnswers">
		<label>@Messages("question.multiple.number"):</label>
		<input class="multiple-number" type="number" name="multipleNumber" id="multipleNumber" value='@form("numberOfAnswers").value' />
	</p>
}

@multipleChoiceForm = {
	<div class="multiple_choice">
		<div class="multiple-row">
			<label>@Messages("question.correct"): </label><input type="text" name="multipleCorrect" id="correct" value='@form("multipleCorrect").value'/>
		</div>
				
		@for(i <- 0 to 4) {
		<div class="multiple-row incorrect-@i">
			<label class="incorrect-label">@Messages("question.incorrect"): </label>
			<input type="text" name="incorrect[]" id="incorrect-@i" value="@form("incorrect["+i+"]").value()"/>
		</div>
		}
		
	</div>
}

@trueFalseForm = {
	<div class="true_false">
		<div class="onoffswitch">
    		<input type="checkbox" class="onoffswitch-checkbox" name="trueFalse" id="myonoffswitch" @if(form("trueFalse").value == "on") {checked}>
    		<label class="onoffswitch-label" for="myonoffswitch">
       		<span class="onoffswitch-inner"></span>
       		<span class="onoffswitch-switch"></span>
    		</label>
		</div>
	</div>
}

@inputAnswerForm = {
	<div class="input_answer">
		<p>
		<label>@Messages("question.correct"): </label><input type="text" name="inputCorrect" id="input-correct" value='@form("inputCorrect").value' />
		</p>
	</div>
}

@multipleAnswerForm = {
	<div class="multiple_answer">
		
		<table>
			<th> @Messages("question.answers") </th>
			<th> @Messages("question.isCorrect") </th>
			@for(i <- 0 to 5) {
			<tr class="multiple-@i">
				<td><input type="text" name="multiple[]" id="multiple-@i" value="@form("multiple["+i+"]").value()"/></td>
				<td><input type="checkbox" name="multipleTrue[]" id="multipleTrue-@i" value=@i @if(form("multipleTrue["+i+"]").value() != "") {checked}/></td>
			</tr>
			} 
		</table>
	</div>
}

@connectCorrect = {
	<div class="connect_correct">
	
		<table>
			<th> @Messages("question.terms") </th>
			<th> @Messages("question.answers") </th>
			@for(i <- 0 to 5) {
			<tr class="connect-@i">
				<td><input type="text" name="termColumn1[]" id="multiple-@i" value="@form("termColumn1["+i+"]").value()"/></td>
				<td><input type="text" name="termColumn2[]" id="multipleTrue-@i" value="@form("termColumn2["+i+"]").value()"/></td>
			</tr>
			} 
		</table>
	</div>
}

@specialTags = {

	<div class="extra">
		<div>
			<span class="finals-checkbox">
				<input id="finalExam" name="finalExam" type="checkbox" value="true" @setChecked("finalExam", "true")>@Messages("question.finals")
			</span> 
			<span><label>@Messages("question.finals.year"):</label>
				<select name="finalsYear" id="finalsYear" value='@form("finalsYear").value'>
				@for(i <- 2010 to Constants.CURRENT_YEAR) {
 					<option value="@i" @if(form("finalsYear").value != null && form("finalsYear").value == i.toString()) {selected="selected"}> @Messages(i.toString())</option>
				}	
				</select>
			</span>
		</div>
		<div>
			<span class="competition-checkbox">
				<input id="competition" name="competition" type="checkbox" value="true" @setChecked("competition", "true") />@Messages("question.competition")
			</span>
			<span><label>@Messages("question.competition.year"):</label>
			<select name="competitionYear" id="competitionYear" value='@form("competitionYear").value'>
			@for(i <- 2010 to Constants.CURRENT_YEAR) {
 				<option value="@i" @if(form("competitionYear").value != null && form("competitionYear").value == i.toString()) {selected="selected"}> @Messages(i.toString())</option>
			}	
			</select>
			</span>
			<span><label>@Messages("question.competition.level"):</label>
			<select name="competitionLevel" id="competitionLevel" value='@form("competitionLevel").value'>
				@for(cl <- CompetitionLevelType.values()){
					<option value="@cl" @if(form("competitionLevel").value != null && form("competitionLevel").value == cl.toString()) {selected="selected"}> @Messages(cl.toString())</option> 
				}				
			</select>
			</span>
		</div>
	</div>
}

<body>
	<header> @adminHeader() </header>

	<content>
	<div class="question container">
		@helper.form(routes.QuestionController.submit) {
		<fieldset>
			<input type="hidden" name="id" value=@form("id").value/>
			<input type="hidden" name="editChapters" value='@form("chapters").value' />
			
			<legend>@Messages("question.input")</legend>
			<p><label>@Messages("question.text")</label></p>
			<textarea name="questionText" rows="4" cols="50"/>@form("questionText").value</textarea>
			
			<ul class="question">
				<li class="question qType">
					<p><label>@Messages("question.type")</label></p>
					<select name="questionType" id="qType" value='@form("questionType").value'> 
					@for(qType <- QuestionType.values()){
						<option value="@qType" @if(form("questionType").value != null && form("questionType").value == qType.toString()) {selected="selected"}>@Messages(qType.toString())</option> 
					}
					</select>
				</li>
				<li class="question grade">
					<p><label>@Messages("question.grade")</label></p>
					<select class="chapter-trigger" name="grade" id="grade" value='@form("grade").value'> 
					@for(grade <- Grade.values()){
						<option value="@grade" @if(form("grade").value != null && form("grade").value == grade.toString()) {selected="selected"}> @Messages(grade.toString())</option> 
					}
					</select>
				</li>
				<li class="question difficulty">
					<p><label>@Messages("question.difficulty")</label></p>
					<input class="difficulty-input" type="number" name="difficulty" id="difficulty" min="1" max="5" value='@form("difficulty").value' />
				</li>
			</ul>
			
			<ul class="question">
				<li class="question subject">
					<p><label>@Messages("question.subject")</label></p>
					<select class="chapter-trigger" name="subject" id="subject" value='@form("subject").value'> 
					@for(subject <- subjects){
						<option value="@subject" @if(form("subject").value != null && form("subject").value == subject.toString()) {selected="selected"}>@Messages(subject.toString())</option> 
					}
					</select>
				</li>
				<li class="question chapter">
					<p><label>@Messages("question.chapter")</label></p>
					<select class="chapter" multiple name="chapters[]" id="chapter"> 
					@for((chapter, l) <- Chapter.values().zipWithIndex){
						<option id="check-@l" value="@chapter.grade-@chapter.subject-@chapter" @if(form("chapter").value != null && form("chapter").value == chapter.toString()) {selected="selected"}>
							@Messages(chapter.toString())
						</option>
					}
					</select>
				</li>
				<li class="question subjectContent">
					<p><label>@Messages("question.content")</label></p>
					<input class="subjectContent-input" name="subjectContent" type="text" id="subjectContent" value='@form("subjectContent").value' />
				</li>
			</ul>
			<div class="extra-trigger">
				<span class="extra-checkbox"><input name="extra" type="checkbox">@Messages("question.extra")</span>
			</div>
			
			@specialTags

			@numberOfAnswers

			@multipleChoiceForm
			
			@trueFalseForm
			
			@inputAnswerForm
			
			@multipleAnswerForm
			
			@connectCorrect
		
			<p><label>@Messages("question.explanation")</label></p>
			<textarea name="explanation" rows="4" cols="50"/>@form("explanation").value</textarea>
			
			<button class="submit-button" type="submit">@Messages("question.submit")</button>
		</fieldset>
		}
	</div>
	</content>
</body>

</html>