@(adminName: String, clearanceLevel: Integer, news: List[models.Novelty]) 

@import views.html.adminView._;
@import views.html.init._;
@import views.html.news._;

<html>
<head>
@head()
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">
<script type="text/javascript" src="@routes.Assets.at("/javascripts/question-table.js")"></script>
</head>

<body>
	<header> @adminHeader(adminName) </header>
	
	<h1 class=""> @Messages("news") </h1>
	
	@newslist(news, clearanceLevel)
	
	
	
</body>