@(form: Form[forms.LoginForm])

@import views.html.init._;

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	@head()
	<script type="text/javascript" src="@routes.Assets.at("/javascripts/login.js")"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
	
	<script type="text/javascript" src="@routes.Assets.at("/javascripts/login/facebook.login.js")"></script>
</head>

</head>
<body>
	<script>

	</script>
	<header>

	</header>

	<h1>@Messages("app.name") - <span class="motto">@Messages("app.motto")</span></h1>

	<div class="container">
		
		@helper.form(routes.LoginController.authenticate) {
		<h2>@Messages("login.signin")</h2>
		
		@if(flash.containsKey("error")) {
			<div class="error-container">
			@flash.get("error") !
			</div>
		}
		
		<p>
			<input class="loginTextBox loginBoxFont" id="username" type="text" name="usernameOrEmail" placeholder="@Messages("login.usernameoremail")" value="@form("email").value">
		</p>
		<p>
			<input class="loginTextBox loginBoxFont" id="password" type="password" name="password" placeholder="@Messages("login.password")">
		</p>
		<p>
			<button class="loginBtn loginBtnFont" type="submit">@Messages("login")</button>
		</p>
		
		<fb:login-button scope="email" onlogin="checkLoginState();"></fb:login-button>
		
		}
		
	</div>


</body>
</html>