<script type="text/javascript" src="@routes.Assets.at("/javascripts/adminHeader.js")"></script>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">@Messages("app.name")</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="@routes.AdminController.adminHome">@Messages("navigation.home")</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Messages("navigation.questions") <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="@routes.AdminController.adminList">@Messages("navigation.questions.list")</a></li>
						<li><a href="@routes.AdminController.adminQuestion">@Messages("navigation.questions.add")</a></li>
					</ul>
				</li>
				<li><a href="@routes.PlayerController.playerHome">@Messages("navigation.quiz")</a></li>
				<li><a href="@routes.ScriptController.add">@Messages("navigation.scripts")</a></li>
        		<li><a href="@routes.ProfileController.profile">@Messages("navigation.profile")</a></li>
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="@routes.LoginController.logout" >@Messages("navigation.logout")</a></li>
			</ul>
		</div>
	</div>
</nav>