header {
	background-color: #444;
	height: 100px;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	height: 80px;
}

.nav ul {
	list-style: none;
  	text-align: center;
}

.nav li {
  	padding-top: 30px;
  	display: inline-block;
 	margin-right: -4px;
 	font-family: 'Oswald', sans-serif;
 	font-size: 1.4em;
 	line-height: 50px;
 	width: 120px;
 	height: 50px;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #ccfe81;
  color: #444;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}