@(noveltyForm: Form[forms.NoveltyForm], adminName: String)

@import views.html.init._;
@import views.html.adminView._;
@import views.html.news._;

<html>
<head>
@head()
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">
<script type="text/javascript" src="@routes.Assets.at("/javascripts/admin.js")"></script>
</head>

<body>
	<header> @adminHeader(adminName) </header>

	<content>
		@helper.form(routes.NewsController.submit) {
		<fieldset>
			<input name="noveltyTitle" type="text" value='@form("noveltyTitle").value' />
			<textarea name="noveltyText" rows="4" cols="50"/>@form("noveltyText").value</textarea>
		</fieldset>
		}
	</content>
</body>

</html>