@(questionList: List[Question])

@import views.html.adminView._;
@import views.html.init._;
@import enums._;
@import models.questions._;
 
<html>

<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	@head()
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/quiz/start.css")">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
	
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.twbsPagination.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/quiz/start.js")"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/svg/component.css")">
	
</head>

@multipleChoice(q: Question) = {
	@defining(q.asInstanceOf[MultipleChoiceQuestion]) { mcq =>
	<div class="multiple-choice-container">
	
	<form class="ac-custom ac-radio ac-circle" autocomplete="off">
	<ul>
	@for(answer <- mcq.getAllAnswersMixed()) {
		<div class="multiple-choice-answer">
		<li>
			<input type="radio" name="@mcq.id" value="@answer">
			<label class="custom-font font-size-16">@answer</label>
		</li>
		</div> 
	}
	</ul>
	</form>
	
	</div>
	}
}

@multipleAnswer(q: Question) = {

	@defining(q.asInstanceOf[MultipleAnswerQuestion]) { maq =>
		<div class="multiple-choice-container">
		
		<form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
		<ul>
		@for(answer <- maq.getAllAnswersMixed()) {
			<div class="multiple-choice-answer">
			<li>
				<input type="checkbox" name="@maq.id" value="@answer">
				<label class="custom-font font-size-16">@answer</label>	
			</li>
			</div>
		}
		</ul>
		</form>
		
		</div>
	}

}

@inputAnswer(q: Question) = {
	
	@defining(q.asInstanceOf[InputAnswerQuestion]) { iaq =>
		<div class="padding-top-10">
			<input type="text" name="@iaq.id" autocomplete="off">
		</div>
	}
	
}

@trueFalse(q: Question) = {

	@defining(q.asInstanceOf[TrueFalseQuestion]) { tfq =>
		<div class="padding-top-10 custom-font font-size-16">
			<input type="radio" name="@tfq.id" value="true">
			<span class="padding-right-15">@Messages("quiz.true")</span>
			<input type="radio" name="@tfq.id" value="false">
			<span>@Messages("quiz.false")</span>
		</div>

	}

}

@connectCorrect(q: Question) = {

	@defining(q.asInstanceOf[ConnectCorrectQuestion]) { ccq =>
	
		<div id="q-@{ccq.id}-answers">
		
		<div class="draggable-container">
			@for(term1 <- ccq.getValuesMixed()) {
			<div id="@term1" class="draggable">
  				<label class="custom-font">@term1</label>
			</div>
			}
		</div>
		
		<div class="droppable-container">
		 	@for(term2 <- ccq.getKeysMixed()) {
			<div id="@term2" class="droppable">
  				<label class="custom-font">@term2</label>
			</div>
			}
		</div>
			
		</div>
	
	}

}
<body>
	
	<h1 class="margin-left-30"> @Messages("quiz") </h1>
	
	<div class="quiz-container hidden">
		<div class="center"><ul id="pagination" class="pagination-sm"></ul></div>
		<div class="questions-container" id="questions">
			@for((q, index) <- questionList.zipWithIndex){
			<div class="question-container" id="question-@{index+1}">
				<div class="question-text custom-font font-size-20">@q.questionText</div>
				<input type="hidden" class="question-id" value="@q.id">
				<input type="hidden" class="question-type" value="@q.questionType">
				@q.questionType match {
					case QuestionType.MULTIPLE_CHOICE => {@multipleChoice(q)}
					case QuestionType.MULTIPLE_ANSWER => {@multipleAnswer(q)}
					case QuestionType.INPUT_ANSWER => {@inputAnswer(q)}
					case QuestionType.TRUE_FALSE => {@trueFalse(q)}
					case QuestionType.CONNECT_CORRECT => {@connectCorrect(q)}
					case _ => {<span>Not yet implemented</span>}
			}
			</div>
		}
		</div>
		<button class="finish-button" id="finishQuizBtn"> @Messages("quiz.finish")</button>
	</div>
	
	<button class="margin-left-30" id="startQuizBtn"> @Messages("quiz.start")</button>

	<div class="result"></div>
	
	<script type="text/javascript" src="@routes.Assets.at("javascripts/svg/svgcheckbx.js")"></script>
</body>
</html>