@(questionList: List[Question])

@import views.html.adminView._;
@import views.html.init._;
@import enums._;
@import models.questions._;
 
<html>

<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	@head()
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/quiz.css")">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.twbsPagination.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/quiz.js")"></script>
</head>

@multipleChoice(q: Question) = {

	@defining(q.asInstanceOf[MultipleChoiceQuestion]) { maq =>
		<div>
		@for(answer <- maq.getAllAnswersMixed()) {
			<div><input type="radio" name="@maq.id" value="@answer">@answer</div> 
		}
		</div>
	}

}

@multipleAnswer(q: Question) = {

	@defining(q.asInstanceOf[MultipleAnswerQuestion]) { maq =>
		<div>
		@for(answer <- maq.getAllAnswersMixed()) {
			<div><input type="checkbox" name="@maq.id" value="@answer">@answer</div>
		}
		</div>
	}

}

@inputAnswer(q: Question) = {
	
	@defining(q.asInstanceOf[InputAnswerQuestion]) { iaq =>
		<div><input type="text" name="@iaq.id"></div>
	}
	
}

@trueFalse(q: Question) = {

	@defining(q.asInstanceOf[TrueFalseQuestion]) { tfq =>
		<div>
			@Messages("quiz.true")<input type="radio" name="@tfq.id" value="true">
			@Messages("quiz.false")<input type="radio" name="@tfq.id" value="false">
		</div>

	}

}

<body>
	
	<h1> Kviz </h1>
	
	<div class="quiz-container">
		<div id="questions">
			@for((q, index) <- questionList.zipWithIndex){
			<div id="question-@{index+1}">
				<div class="question-text">@q.questionText</div>
				<input type="hidden" class="question-id" value="@q.id">
				<input type="hidden" class="question-type" value="@q.questionType">
				@q.questionType match {
					case QuestionType.MULTIPLE_CHOICE => {@multipleChoice(q)}
					case QuestionType.MULTIPLE_ANSWER => {@multipleAnswer(q)}
					case QuestionType.INPUT_ANSWER => {@inputAnswer(q)}
					case QuestionType.TRUE_FALSE => {@trueFalse(q)}
					case _ => {<span>Not yet implemented</span>}
			}
			</div>
		}
		</div>
		<ul id="pagination" class="pagination-sm"></ul>
		<button id="finishQuizBtn"> @Messages("quiz.finish")</button>
	</div>
	
	<button id="startQuizBtn"> @Messages("quiz.start")</button>

</body>
</html>