@import views.html.adminView._;
@import views.html.init._;

<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	@head()
	
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/quiz/home.css")">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/quiz/home.js")"></script>
</head>

<body>
		
		<h1> @Messages("player.quizzes") </h1>
		
		@helper.form(routes.QuizController.startQuiz) {

		<select name="subject">
			<option value="HISTORY">@Messages("HISTORY")</option>
			<option value="GEOGRAPHY">@Messages("GEOGRAPHY")</option>
		</select>
	
		<button type="submit">@Messages("quiz.confirm")</button>
		}

</body>
</html>