h1 {
	color: #B8B8B8;
	font-size: 2.5em;
	position: absolute;
	top: 10%;
	left: 30%;
}

h2 {
	color: #fff;
	font-size: 1.7em;
	font-style: italic;
	text-shadow: -1px 0 #1B7790, 0 1px #1B7790, 1px 0 #1B7790, 0 -1px #1B7790;
}

.motto {
	color: #fff;
	font-style: italic;
	text-shadow: -1px 0 #1B7790, 0 1px #1B7790, 1px 0 #1B7790, 0 -1px #1B7790;
}

.center {
	position: relative;
	left: 35%;
}

.container {
	position: absolute;
	/* border: 2px solid #FF0007; testing purpose only */
	top: 30%;
	left: 29%;
}

.choiceBtn {
	background-color: #1B7790;
	border-radius: 25px;
	border: 2px solid #1B7790;
	width: 300px;
	height: 90px;
	position: relative;
	left: 100px;
	
}

.choiceBtn:hover {
	background-color: #444;
	border: 2px solid #444;
}

.choiceBtnFont {
	color: #fff;
	font-size: 1.7em;
}