@import views.html.adminView._;
@import views.html.init._;

<html>

<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	@head()
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/player/playerHome.css")">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/player/playerHome.js")"></script>
</head>

<body>
	
	<h1>@Messages("app.name") - <span class="motto">@Messages("app.motto")</span></h1>

	<div class="container">
		
		<p>
			<button class="choiceBtn choiceBtnFont" id="quizesBtn" >@Messages("player.quizzes")</button>
			<button class="choiceBtn choiceBtnFont" id="scriptsBtn" >@Messages("player.scripts")</button>
		</p>
		
		<p>
			<a class="logout" onclick=checkLoginState();>@Messages("logout")</a>
		</p>

	</div>
</body>
</html>